body{
  background-color: teal;
}
table{
  background-color: lightgrey;
}
h1{
  width: 30%;
  margin: 2px auto;
}

.inpootis{
  width: 75%;
  margin: 5px auto;
}

table{
  width: 75%;
  margin: 5px auto;
}

.pThings{
  border: solid black 5px;
  width: 25%;
  margin: 5px auto;
  background-color: white;
}
